.movieCard {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  max-height: 600px;
  overflow: hidden;
  gap: 20px;
  padding: 0 0 20px 0;
}

.movieImage {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.movieImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movieImage img:hover {
  transform: scale(1.05);
}

.movieDetails {
  padding: 1.5rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.movieCard button:hover {
  transform: scale(1.05);
}
